#suggestions, body, html {
  height: 200px;
}

#command {
  width: 100%;
  margin: 0;
  font-size: 1.3em;
  padding: 1%;
}

body {
  padding: 0;
  margin: 0;
  min-width: 400px;
  width: 400px;
  font-weight: 200;
}

::-webkit-input-placeholder {
  font-weight: 200;
}

.suggestion {
  list-style-type: none;
  font-size: 1.3em;
  font-weight: 200;
  padding: 1%;
  border: 1px solid #EEE;
}

#suggestions {
  overflow-y: scroll;
}

#highlighted {
  background-color: #EEE;
}

input:focus {
  outline: #EEE solid 1px;
}