@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  font-family: "Montserrat";
  color: white;
  padding: 0;
  margin: 0;
  transition: 0.4s;
}

:root {
  --bg:   #171718;
  
  --t1: #00B388;
  --c1: #CB3D6E;
  --c2: #5D437E;
  --c3: #00589F;
  --c4: #0084C2;
}

body {
  background: var(--bg);
}

.sidenav {
  height: 100%;
  width: 256px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--bg);
  overflow-x: hidden;
  padding-top: 20px;
  border-color: var(--t1);
  border-right-width: 3px;
  border-right-style: solid;
  font-weight: bold;
}

.sidenav a {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
}

.sidenav div a {
  display: block;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
}

.sidenav a:hover {
  color: var(--t1);
  transition: 1.2s;
}

.sidenav a.currentWorkspace {
  color: var(--c1);
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.iconDetails {
    margin: 0 2%;
    float: left;
    height: 40px;
    width: 40px;
}

.container {
    width: 100%;
    height: auto;
    padding: 1%;
}

.container img {
  position: relative;
  top: 50%;
  transform: translateY(50%);
  max-width: 16px;
  max-height: 16px;
  width: auto;
  height: auto;
}

.solidhr {
  border-top: 3px solid var(--t1);
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-top: 12px;
  margin-bottom: 12px;
}

.main {
  margin-left: 256px;
}

.tabrow {
  overflow: hidden;
  background-color: transparent;
  padding-top: 6px;
}

.tabrow button {
  background-color: var(--t1);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;  
}

.tabrow button:hover {
  background-color: var(--c1);
  transition: 1s
}

.tabrow button.active {
  background-color: var(--c4);
  transition: 1s
}

.tabContainer {
  border: 2px solid red;
  border-radius: 5px;
  padding: 6px 6px;
  margin: 6px 0px;
  position: relative;
  width: inherit;
}

.tabcontent {
  display: none;
  padding: 12px 12px;
}

.tabPaneImg {
  display: inline;
  width: 32px;
  height: 32px;
}

.tabDiv {
  display: inline;
  position: absolute;
}

.tabTitle {
  padding: 2px 6px;
  font-size: 12px;
  color: #DDD;
}

.tabLink {
  padding: 2px 6px;
  color: #BBB;
  font-size: 8px;
  left: 6px;
  margin-top: 0px;
  padding: none;
}
.checklist1Label{
  font-size: 16px;
  color: var(--t1)
}
/*
input[type=text] {
  width: 100%;
  padding: 3px 6px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: var(--bg);
  border: none;
  border-bottom: 2px solid var(--c1);
  color: white;
}
*/
input {
  background: none;
  color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--c1);
}
input:focus {
  outline: none;
}
input:focus ~ label,
input:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: var(--c2);
}